@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

body {
  background-color: #f1f1f1;
  color: #0f141e;
  /* font-size: 16px;
    font-weight: normal;
    font-family:  'Roboto Condensed', sans-serif; */

  font: normal 16 "Roboto Condensed", sans-serif;

  /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: blueviolet;
}

.avatar {
  width: 200px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.info p {
  color: #86898f;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: uppercase; */
  /* letter-spacing: 5px; */
  /* word-spacing: 32px; */
}

/* Box Model */

.container {
  max-width: 750px;
  margin: auto;
}

